*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.header{
	position:relative;
	
}
.header .row-top{
	display:flex;
	justify-content:space-between;
	padding:10px 20px;
	background:green;
}
.header .row-top .address ul{
	list-style:none;
}
.header .row-top .address ul li{
	display:inline-flex;
}
.header .row-top .address ul li a{
	color:white;
	text-decoration:none;
}
.header .row-top .social ul{
	list-style:none;
}
.header .row-top .social ul li{
	display:inline-flex;
}
.header .row-top .social ul li a{
	color:white;
	text-decoration:none;
}
.content{
	position:relative;
	min-height:100vh;
}
.footer{
	position:relative;
	bottom:0;
	
}
.footer .copy-text{
	padding:20px;
	background:black;
}
.footer .copy-text p{
	text-align:center;
	color:white;
	font-size:18px;
	
	
}
.footer .copy-text p a{
	text-decoration:none;
	color:crimson;
	padding-left:5px;
}